


body {
 background-image: url('/src/Asserts/obratno.jpg');
 background-attachment: fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        margin: 0;
        
    }

    #hero {
       background-image: url('Asserts/mobglav.png')  ;
       background-color: rgba(128, 129, 129, 0.9);
       filter: alpha(Opacity=90);
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
       
        }


        .lozung {
            width: 80%;
            height: 8vh;
        }


        h2, h3, h4, p, li, ul  {
    color: white;
    font-family: "Playfair", serif;
    }

    .about li ul {
list-style-type: none;
    }

    video {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
      }

      .map-responsive{
        padding-top: 8%;
        overflow:hidden;
        padding-bottom:34%;
        position:relative;
        height:0;
    }
    .map-responsive iframe{
        height:100%;
        width:100%;
        position:absolute;
    }

    .pokazvmobile {
        display: none; 
    }

    
    @media all and (max-width: 1600px) {
        img {
            width: 100%;
        }

    }

    @media all and (min-width: 991px) {
        img {
            width: 100%;
    }
    

    }
    
    @media all and (max-width: 768px) {

        body {
            background-image: none;
            background-color: #212429 !important;
        }
        
        .adeptFoter{
          text-align: center;
        }
  
        .adeptPe {
        font-size: smaller;
        }

        .fixednon {
            display: none; 
        }

        .pokazvmobile {
            display: block;
        }

        #hero {
            width: 100%;
            height: auto;

        }

        .lozung {
            width: 80%;
            height: auto;
        }

        .navbar-toggler {
            margin-left: 80% !important; /* Сдвигает гамбургер вправо */
          }
       }
                 
      
    